<!-- <router-outlet></router-outlet>
<app-home></app-home> -->
<!-- <section class="container"> -->
    <!-- <h2>data binding</h2> -->
    <!-- <h3>interpolation</h3>
    {{title}}
    {{title=="test"}}
    {{show()}}
    {{  5 * 9 }}
    <img src="{{imgLoc}}">
    {{html}}
    user name is {{user.name}} and age is {{user.age}} -->
    <!-- <h3>property binding</h3> -->
    <!-- <img [src]="imgLoc"> -->
    <!-- <p [class]="a">hello</p> -->
    <!-- <td [colSpan]="'2'"></td> -->

    <!-- <label [attr.for]="'floatingInput'">Email address</label>
    <p [innerHTML] = "html"></p> -->
    <!-- <h3>event binding</h3>
    <button class="btn btn-danger" (click)="changeTitle()">change</button>
    {{title}}<br>
-->
    <!-- <input (keyup.enter)="handleMyInput($event)">
    {{val}} 
    <h3>Two way binding</h3>
    <input [(ngModel)]="val">
    {{val}} -->
<!-- 
    <div class="row">

        <div class="col-4" *ngFor="let img of images; 
        let i=index; 
        let odd=odd; 
        let even = even;
        let f = first
        ">
            <div
            [ngClass]="{
                'm-3':true,
                'border': true,
                'border-5':true,
                'border-primary':odd,
                'border-success':even,
                'border-danger':f    
            }">
                <h5 class="text-center">{{i}} - {{odd}} - {{even}} -{{f}}</h5>
                <img [src]="img.url" class="img-fluid">
            </div>
        </div>
    
    </div>
</section> -->

<app-slider></app-slider>