<section class="container my-3">
    <div class="mb-4">
        <input class="form-control" placeholder="keyword to search" [(ngModel)]="searchKey" (keyup)="filterData()">
    </div>
    <table class="table table-bordered">
        <thead>
            <th>#</th>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </thead>
        <tbody>
            <tr *ngFor="let post of data; let index = index">
                <td>{{index+1}}</td>
                <td>{{post.userId}}</td>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        </tbody>
    </table>
        <!-- <div *ngIf="!status; else elseDiv">
        <p class="alert alert-primary">
            test
        </p>
    </div>
    <ng-template #elseDiv>
        <p class="alert alert-danger">
            test not
        </p>
    </ng-template> -->
    <!-- <button [ngClass]="['btn' ,'btn-success']" (click)="changeStatus()">change</button> -->
    <!-- <button [ngClass]="{'btn':true, 'btn-danger':status, 'btn-primary':!status}" (click)="changeStatus()">change</button>
    <ng-template *ngIf="status; then thenDiv; else elseDiv"></ng-template>
    <ng-template #thenDiv>
        <p class="alert alert-primary">
            test then
        </p>
    </ng-template>
    <ng-template #elseDiv>
        <p class="alert alert-danger">
            test else
        </p>
    </ng-template> -->
    <!-- {{ d | date : 'W'}}             <br>
    {{ d | date:'medium' }}<br>
    {{ d | date:'shortTime' }} <br>  
    {{ d | date:'mm:ss' }}       <br> -->
    <!-- {{name|lowercase}} -->
    <!-- {{name|uppercase}} -->
    <!-- {{x|number:'.2-2'}} -->
    <!-- {{x|percent}} -->

</section>