{{>header}}
{{>navbar}}
<section class="container my-5">
    <div class="border border-danger border-2 p-3">
        <h3>user Id: 5</h3>
        <h3>user Name: Marwa</h3>
        <h3>Age: 36</h3>
    </div>
</section>
{{>footer}}