{{msg}}
<form #register="ngForm" (ngSubmit)="onRegister(register)">
    <input placeholder="name" name="name" required minlength="3" maxlength="15" [(ngModel)]="user.name" #name="ngModel" > 
    <div *ngIf="name?.invalid && (name.touched || register.submitted || name.dirty)">
        <!-- for errors
        {{name.errors |json}} -->
        <li *ngIf="name.errors?.required">required</li>
        <li *ngIf="name.errors?.minlength">minimum chars must be {{name.errors?.minlength.requiredLength}} and you entered {{name.errors?.minlength.actualLength}}</li>
    </div>

    <input name="email" placeholder="email" [(ngModel)]="user.email" #email="ngModel" required email>
    <div *ngIf="email?.invalid && (email.touched || register.submitted || email.dirty)">
        <li *ngIf="email.errors?.required">required</li>
        <li *ngIf="email.errors?.email">must be an email</li>
        <!-- <li *ngIf="msg">email used before</li> -->
    </div>

    <input name="phone" placeholder="phone" [(ngModel)]="user.phone" #phone="ngModel"
    required minlength="11" maxlength="11" pattern="^\d{11}$">
    <div *ngIf="phone?.invalid && (phone.touched || register.submitted || phone.dirty)">
        <li *ngIf="phone.errors?.required">required</li>
        <li *ngIf="phone.errors?.minlength">must be an 11 numbers</li>
        <li *ngIf="phone.errors?.pattern">must be numbers only</li>
    </div>    
    <input name="age" placeholder="age" [(ngModel)]="user.age" #age="ngModel" type="number">
    <select name="gender" [(ngModel)]="user.gender" #gender="ngModel" required>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <div *ngIf="gender?.invalid && (gender.touched || register.submitted || gender.dirty)">
        <li *ngIf="gender.errors?.required">required</li>
    </div>

    <input name="password" placeholder="password" [(ngModel)]="user.password" #password="ngModel" required minlength="4" maxlength="20">
    <div *ngIf="password?.invalid && (password.touched || register.submitted || password.dirty)">
        <li *ngIf="password.errors?.required"> required</li>
        <li *ngIf="password.errors?.minlength"> must be an more than 4 chars</li>
    </div>
    <!-- <button [disabled]="register.invalid">submit</button> -->
    <button>submit</button>
</form>